header {
    background-color: steelblue;
    text-align: center;
}

header h1 {
    display: inline-block;
    font-weight: bold;
    padding: 1em 0px;
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
}

.logo {
    margin: 0px 10px;
    vertical-align: middle;
}