#grafico {
    border-collapse: collapse;
}

#grafico td {
    width: 50px;
    height: 50px;
}

#grafico td.ponto {
    border: 1px solid darkgray;
}

#grafico td:hover {
    opacity: 0.5;
}

#grafico td.numeracao {
    text-align: center;
}

#grafico td.branco {
    background-color: white;
}

#grafico td.vermelho {
    background-color: red;
}